/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --bs-body-bg: #272b30;
  --bs-body-color: #aaa;
  --bs-border-radius: 0.375rem;
  --accent: #ec008c;
  --dark-bg: #222222;

  --deathknight: #C41F3B;
  --demonhunter: #A330C9;
  --druid: #FF7D0A;
  --evoker: #33937f;
  --hunter: #ABD473;
  --mage: #69CCF0;
  --monk: #00FF96;
  --paladin: #F58CBA;
  --priest: #FFFFFF;
  --rogue: #FFF569;
  --shaman: #0070DE;
  --warlock: #9482C9;
  --warrior: #C79C6E;
  --horde: #82161d;
  --alliance: #00aeef;

   /* Blue range for renown / paragon (esteemed) */
   --color-esteemed-start: #303f9f;
   --color-esteemed-mid: #7785d5;
 
   /* Red/Orange range for negative */
   --color-negative-start: #d32f2f;
   --color-negative-mid: #ea7a7a;
 
   /* Yellow/Gray range for neutral */
   --color-neutral-start: #757575;
   --color-neutral-mid: #a8a8a8;
 
   /* Green range for positive */
   --color-positive-start: #388e3c;
   --color-positive-mid: #7bd57e;
}

.flex {
  display: flex;
}

.deathknight {color: var(--deathknight);}
.demonhunter {color: var(--demonhunter);}
.druid {color: var(--druid);}
.evoker {color: var(--evoker);}
.hunter {color: var(--hunter);}
.mage {color: var(--mage);}
.monk {color: var(--monk);}
.paladin {color: var(--paladin);}
.priest {color: var(--priest);}
.rogue {color: var(--rogue);}
.shaman {color: var(--shaman);}
.warlock {color: var(--warlock);}
.warrior {color: var(--warrior);}
.summary {color: #ffffff;}

.card-title.deathknight {background-color: var(--deathknight);}
.card-title.demonhunter {background-color: var(--demonhunter);}
.card-title.druid {background-color: var(--druid);}
.card-title.evoker {background-color: var(--evoker);}
.card-title.hunter {background-color: var(--hunter);}
.card-title.mage {background-color: var(--mage);}
.card-title.monk {background-color: var(--monk);}
.card-title.paladin {background-color: var(--paladin);}
.card-title.priest {background-color: var(--priest);}
.card-title.rogue {background-color: var(--rogue);}
.card-title.shaman {background-color: var(--shaman);}
.card-title.warlock {background-color: var(--warlock);}
.card-title.warrior {background-color: var(--warrior);}
.card-title.summary, .card-title.mount {background-color: #ffffff;}

article.deathknight {border-color: var(--deathknight) !important;}
article.demonhunter {border-color: var(--demonhunter) !important;}
article.druid {border-color: var(--druid) !important;}
article.evoker {border-color: var(--evoker) !important;}
article.hunter {border-color: var(--hunter) !important;}
article.mage {border-color: var(--mage) !important;}
article.monk {border-color: var(--monk) !important;}
article.paladin {border-color: var(--paladin) !important;}
article.priest {border-color: var(--priest) !important;}
article.rogue {border-color: var(--rogue) !important;}
article.shaman {border-color: var(--shaman) !important;}
article.warlock {border-color: var(--warlock) !important;}
article.warrior {border-color: var(--warrior) !important;}
article.summary, article.mount {border-color:#ffffff !important;}

article.deathknight:hover {box-shadow: 0 0 40px 0 var(--deathknight);}
article.demonhunter:hover {box-shadow: 0 0 40px 0 var(--demonhunter);}
article.druid:hover {box-shadow: 0 0 40px 0 var(--druid);}
article.evoker:hover {box-shadow: 0 0 40px 0 var(--evoker);}
article.hunter:hover {box-shadow: 0 0 40px 0 var(--hunter);}
article.mage:hover {box-shadow: 0 0 40px 0 var(--mage);}
article.monk:hover {box-shadow: 0 0 40px 0 var(--monk);}
article.paladin:hover {box-shadow: 0 0 40px 0 var(--paladin);}
article.priest:hover {box-shadow: 0 0 40px 0 var(--priest);}
article.rogue:hover {box-shadow: 0 0 40px 0 var(--rogue);}
article.shaman:hover {box-shadow: 0 0 40px 0 var(--shaman);}
article.warlock:hover {box-shadow: 0 0 40px 0 var(--warlock);}
article.warrior:hover {box-shadow: 0 0 40px 0 var(--warrior);}
article.summary:hover, article.mount:hover {box-shadow: 0 0 40px 0 #ffffff;}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;  
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
  flex-flow: column;
  height: 100%;  
}

header {
  background-color: var(--dark-bg);
  align-items: center;
  padding: 10px;
  border-bottom-left-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}

header a {
  color: #fff;
  text-decoration: none;  
}

nav {
  width: 100%;
}

.logo img {
  height: 50px;
  margin-right: 30px;
  width: auto;
}

.navbar-nav {
  list-style: none;
}

nav li {
  font-size: 1.4rem;
  margin-right: 30px;
}

.home-content, .loader-content, .main-content {
  flex-grow: 1;
}

.home-content, .loader-content {
  align-items: center;
  justify-content: center;  
}

.main-content {
  display: none;
  margin-bottom: 45px;
}

#loader {
  text-align: center;
}

.timer {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 10px;
}

.status-updates {
  background-color: #000000;
  border-radius: var(--bs-border-radius);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: normal;
  padding: 5px;
}

.view-alt-details {
  cursor: pointer;
}

/* Always include the icon pseudo-element, but hide it by default. */
.card.view-alt-details::after {
  content: "\f35d";               /* Use the correct Font Awesome icon's Unicode */
  color: #FFF;
  font-family: "Font Awesome 6 Free"; 
  font-size: 1.5rem;
  font-weight: 900;               /* For solid icons */
  margin-left: 7px;
  position: absolute;
  top: -12px;
  right: 10px;
  visibility: hidden;             /* Hide initially to reserve space but keep layout */
}

#alts-table .view-alt-details::after {
  content: "\f35d";               /* Use the correct Font Awesome icon's Unicode */
  font-family: "Font Awesome 6 Free"; 
  font-weight: 900;               /* For solid icons */
  margin-left: 7px;
  visibility: hidden;             /* Hide initially to reserve space but keep layout */
}

/* Reveal the icon on hover without changing layout, since it's already there. */
.view-alt-details:hover::after {
  visibility: visible;
}

/* Optional text styling on hover */
#alts-table .view-alt-details:hover {
  font-weight: bold;
}

#alts, #mounts, #reps {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
  background-position-y: center;
  border-radius: var(--bs-border-radius);
  border-style: solid;
  border-width: 3px;
  color: var(--bs-body-color);
  margin-bottom: 35px;
  position: relative;
  transition: 0.3s;
  display: none;
}

@media (max-width: 480px) {
  #alts .card {
    background-size: 200%;
    background-position-x: -70px;
    min-height: 300px;
  }
  #reps .card {
    background-size: 200%;
    background-position-x: center;
    margin: 0 5px;
    min-height: 300px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  #alts .card {
    background-size: 250%;
    background-position-x: -150px;
    min-height: 400px;
  }
  #reps .card {
    background-size: 250%;
    background-position-x: center;
    margin: 0 5px 20px 5px;
    min-height: 400px;
  }
}


@media (min-width: 1025px) {
  #alts .card {
    background-size: 350%;
    background-position-x: -270px;
    min-height: 500px;
  }
  #reps .card {
    background-size: 125%;
    background-position-x: 50px;
    background-position-y: bottom;
    background-repeat: no-repeat;
    min-height: 500px;
  }  
}

#alts-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

#alts-table thead {
  height: 30px;
}

#alts-table th, #alts-table td {
  overflow: hidden;      /* Hide overflowing text */
  text-overflow: ellipsis; /* Displays ... if text is truncated */
  padding: 5px;
}

#alts-table th {
  font-size: .9rem;
  text-align: left;
}

#alts-table th i {
  color: var(--accent);
  margin-left: 5px;
}

#alts-table td {
  /* border-bottom: 1px solid #ccc; */
  font-size: .9rem;
  padding: 10px;
  vertical-align: middle;
}

#alts-table td .cell-text {
  /* display: inline-block;
  max-width: 250px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle; */
}

#alts-table tbody tr:nth-child(odd) {
  background-color: var(--dark-bg)
}

article.summary {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-img-top {
  overflow: hidden;
  height: 300px;
}

.card-img-top > img {
  height: auto;
  width: 100%;
}

.card-img-top > img {
  display: none;
}

.card-img-top > img:first-of-type {
  display: block;
}

.card-img-top > img:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* The overlay covers the entire screen */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  /* fill entire screen */
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8); /* dim background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* The modal-window is sized within the overlay */
.modal-window {
  background: none;
  width: 70%;      /* or any desired width */
  height: 45%;     /* or any desired height */
  display: flex;
  flex-direction: column; /* so content can stretch */
  position: relative;
  /* overflow: hidden;        hide scrollbars, if desired */
}

/* The .modal-content takes up remaining space in the .modal-window */
.modal-content {
  flex: 1; /* let it grow and fill vertical space */
  display: flex;
  flex-direction: column;
}

/* #modal-body also stretches to fill, if you have additional elements in .modal-content */
#modal-body {
  flex: 1;
  /* overflow: auto; scroll if content is too tall */
  display: flex;
  flex-direction: column;
  position: relative;
  /* overflow: hidden; */
}

#modal-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* so clicks pass through to underlying content */
  z-index: 1; /* tweak this if you want particles behind text (z-index: 0) or on top (z-index > ?). */
}

/* Finally, ensure .alt-detail can fill the space inside #modal-body */
.alt-detail {
  flex: 1;
  /* optionally ensure it has any layout specifics:
     e.g. background-size, padding, or no overflow */
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 20px 40px;
}

/* Example close button (optional) */
.modal-close {
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  cursor: pointer;
  font-size: 3rem;
  color:var(--accent);
  z-index: 9999;
}

#reps .card {
  background-color: var(--dark-bg);; /* a neutral gray */
  background-blend-mode: luminosity; /* or saturation */
}

#alts .card-body, #reps .card-body  {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  height: calc(100% - 40px);
  min-width: 60%;
  padding-bottom: 40px;
}

#reps .card-body {
  /* background-color: var(--dark-bg); */
  align-items: center;
  width: 100%;
}

#rares .card-body {
  background-color: var(--dark-bg);
  /* width: calc(100% - 20px); */
  align-items: center;
}


.alt-detail::before {
  content: "";
  position: absolute;
  /* inset: 0 is shorthand for top:0; right:0; bottom:0; left:0; */
  inset: 0;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  top: -135px;

  /* Example filter: reduce saturation to 50% 
     Adjust or remove as desired */
  filter: saturate(30%);

  z-index: -1; /* keeps the pseudo-element behind alt-detail’s content */
}

.alt-detail.deathknight::before {
  background-image: url('/static/images/bg/deathknight.webp');
}

.alt-detail.demonhunter::before {
  background-image: url('/static/images/bg/demonhunter.webp');
}

.alt-detail.druid::before {
  background-image: url('/static/images/bg/druid.webp');
}

.alt-detail.evoker::before {
  background-image: url('/static/images/bg/evoker.webp');
}

.alt-detail.hunter::before {
  background-image: url('/static/images/bg/hunter.webp');
}

.alt-detail.mage::before {
  background-image: url('/static/images/bg/mage.webp');
}

.alt-detail.monk::before {
  background-image: url('/static/images/bg/monk.webp');
}

.alt-detail.paladin::before {
  background-image: url('/static/images/bg/paladin.webp');
}

.alt-detail.priest::before {
  background-image: url('/static/images/bg/priest.webp');
}

.alt-detail.rogue::before {
  background-image: url('/static/images/bg/rogue.webp');
}

.alt-detail.shaman::before {
  background-image: url('/static/images/bg/shaman.webp');
}

.alt-detail.warlock::before {
  background-image: url('/static/images/bg/warlock.webp');
}

.alt-detail.warrior::before {
  background-image: url('/static/images/bg/warrior.webp');
}

.alt-detail header {
  background: none;
  padding-left: 130px;
  /* Enable grid layout with two columns */
  display: grid;
  grid-template-columns: auto 1fr;
  color: #fff;
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
  inset: 0;
  background-position: left;
  background-size: 125px;
  background-repeat: no-repeat;
  position: relative;  /* create a positioned container */
}

.alt-detail .container {
  min-height: auto;
  overflow: hidden;
  height: auto;
  z-index: 10;
}

.alt-detail .container img {
  position: absolute;
  right: -125px;
  top: -120px;
}

.alt-detail header.alliance {
  background-image: url('/static/images/alliance.png');
}

.alt-detail header.horde {
  background-image: url('/static/images/horde.png');
}

/* h1 -> row 1, col 1 */
.alt-detail header h1 {
  grid-row: 1;    /* first row */
  grid-column: 1; /* first column */
}

/* h3 -> row 1, col 2 */
.alt-detail header h3 {
  grid-row: 1; 
  grid-column: 2; 
  border-left: 2px solid #fff;
}

/* h2 -> row 2, col 1 */
.alt-detail header h2 {
  grid-row: 2; 
  grid-column: 1;
}

/* h4 -> row 2, col 2 */
.alt-detail header h4 {
  grid-row: 2; 
  grid-column: 2;
  border-left: 2px solid #fff;
}

.alt-detail header h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.alt-detail header h2 {
  font-size: 1.5rem;
  margin-top: -5px;
  min-height: 24px;
}

.alt-detail header h3 {
  font-size: 1.4rem;
  margin-left: 45px;
  padding-left: 45px;
}

.alt-detail header h3 span {
  font-size: 2rem;
}

.alt-detail header h4 {
  margin-left: 45px;
  padding-left: 45px;
  margin-top: -30px;
  font-size: 2rem;
  text-transform: uppercase;
}

#controls {
  background-color: var(--accent);
  border-radius: var(--bs-border-radius);
  margin-bottom: 30px;
  padding: 10px;
}

#filter label {
  color: #ffffff;
  font-size: .9rem;
  font-weight: bold;
  margin-right: 10px;
  text-transform: uppercase;
}

#filterInput {
  border: none;
  border-radius: var(--bs-border-radius);
  color: var(--dark-bg);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-right: 10px;
  padding: 0 5px;
}

#filter select {
  border: none;
  border-radius: var(--bs-border-radius);
  color: var(--dark-bg);
  font-size: 1.2rem;
  margin-right: 20px;
}

#filterInput::placeholder {
  color: #aaa;
  font-size: .8rem;
}

#filterInput:focus, #filter select {
  outline: none;
}

#filterInput:focus::placeholder {
  color: transparent;
}

#filter .fa-solid {
  color: #ffffff;
}

#filter button {
  background: none;
  border: none;
}

.reset-filter {
  cursor: pointer;
  font-size: 1.2rem;
}

.reset-filter:hover {
  transform: scale(1.4);
}

.view-toggle {
  margin-left: auto;
}

.view-toggle button {
  border: none; /* Removes the border */
  outline: none; /* Removes the focus outline */
  background: transparent; /* Optional: makes the background transparent */
  color: #FFF;
  font-size: 1.5rem;
}

.note {
  font-size: .8rem;
  margin-top: 10px;
}

.summary .card-body {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

#mounts .card-body, #rares .card-body {
  font-size: .9rem;
  padding: 10px 10px 30px 10px;
}

#rares .card-body {
  padding: 10px;
}

.card-title {
  border-radius: 2rem;
  color: #222222;
  font-weight: bold;
  font-size: 1.3rem;
  left: 5px;
  padding: 5px 10px;
  position: absolute;
  text-transform: uppercase;
  top: -15px;
  /* text-shadow: 1px 1px 4px #222222; */
}

#mounts .card-title {
  background-color: var(--accent);
  color: #ffffff;
  font-size: .9em;
  padding: 8px 10px;
}

#rares .card-title {
  color: var(--accent);
  font-size: 1.3em;
  margin-right: 20px;
  position: unset;
  width: 5%;
  text-align: center;
}

.card-title.summary {
  text-transform: none;
}

.rare h2 {
  margin-right: 20px;
  width: 25%;
}

.rare h2 a {
  color: #ffffff;
  font-size: 1.3rem;
  text-decoration: none;
}

.rare .location {
  font-size: 1.1rem;
}

.card-body > dl {
  margin: 10px 5px 0 15px;
}

.card-body > dl:first-of-type {
  margin: 30px 5px 30px 15px;
}

.card-body > dl dt {
  color: deepskyblue;
  font-size: .6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.reputations dt {
  color: #ffffff !important;
  font-size: .7rem !important;
}

.card-body > dl dd {
  font-size: 1.0rem;
  margin-bottom: 10px;
}

.professions dd {
  margin-bottom: 5px !important;
}

.money {
  white-space: nowrap;
}

.money > span::after {
  background-size: 10px 10px;
  content: "";
  display: inline-block;
  height: 10px;
  margin-left: 2px;
  margin-right: 4px;
  width: 10px;
}

.gold::after {
  background-image: url('/static/images/gold.png');
}

.silver::after {
  background-image: url('/static/images/silver.png');
}

.copper::after {
  background-image: url('/static/images/copper.png');
}

.professions .progress-bar, .reputations .progress-bar  {
  background-color:#222222;
  border: 1px solid #000000;
  border-radius: 3px;
  display: block;
  height: 5px;
  width: 140px;
}

.reputations .progress-bar  {
  margin: 5px 10px 5px 0;
}

.progress-bar .progress {
  display: block;
  height: 100%;
}

.professions .progress {
  background: rgb(0,135,0);
  background: linear-gradient(90deg, rgba(0,135,0,1) 0%, rgba(0,255,0,1) 50%, rgba(0,135,0,1) 100%);
}

.reputations dd {
  align-items: center;
  font-size: .8rem !important;
}

/* Esteemed (e.g., exalted, maximum, cordially appreciative, renown states) */
.esteemed .progress {
  background: linear-gradient(
    90deg,
    var(--color-esteemed-start) 0%,
    var(--color-esteemed-mid) 50%,
    var(--color-esteemed-start) 100%
  );
}
.esteemed {
  color: var(--color-esteemed-mid);
}

/* Negative (e.g., hated, hostile, unfriendly) */
.negative .progress {
  background: linear-gradient(
    90deg,
    var(--color-negative-start) 0%,
    var(--color-negative-mid) 50%,
    var(--color-negative-start) 100%
  );
}
.negative {
  color: var(--color-negative-mid);
}

/* Neutral (e.g., neutral, low, stranger, preferred, acquaintance, empty, cohort, tentative, ambivalent, ally) */
.neutral .progress {
  background: linear-gradient(
    90deg,
    var(--color-neutral-start) 0%,
    var(--color-neutral-mid) 50%,
    var(--color-neutral-start) 100%
  );
}
.neutral {
  color: var(--color-neutral-mid);
}

/* Positive (e.g., friendly, valued, fang, respected, medium, high, honored, revered, friend) */
.positive .progress {
  background: linear-gradient(
    90deg,
    var(--color-positive-start) 0%,
    var(--color-positive-mid) 50%,
    var(--color-positive-start) 100%
  );
}

.positive {
  color: var(--color-positive-mid);
}

.card-footer {
  bottom: 5px;
  color: gray;
  font-size: .7rem;
  left: 5px;
  position: absolute;
}

.icon {
  padding: 0;
}

.alt-icons {
  position: absolute;
  right: 10px;
  bottom: -20px;
}

.level-icon {
  background-color: var(--bs-body-bg);
  border: 4px solid #fff;
  border-radius: 50%;
  float: right;
  font-size: 1.2rem;
  font-weight: bold;
  height: 32px;
  line-height: 34px;
  margin-left: 5px;
  text-align: center;
  width: 32px;
  white-space: nowrap;
}

.class-icon {
  float: right;
  height: 40px;
  margin-left: 5px;
  width: 40px;
}

.faction-icon {
  background-color: var(--bs-body-bg);
  border: 4px solid #fff;
  border-radius: 50%;
  float: right;
  height: 32px;
  margin-left: 5px;
  width: 32px;
}

.horde-icon {
  border-color: var(--horde);
}

.alliance-icon {
  border-color: var(--alliance);
}

.class-icon:hover, .faction-icon:hover {
  filter: brightness(1.75) saturate(4);     
}

footer {
  background-color: #222222;
  border-top-left-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius);
  margin-top: auto;
  padding: 10px;
}


/* 1. Define the animation */
@keyframes skewAndUnskew {
  0% {
    transform: scale(1.1); /* Scales uniformly */  }
  10% {
    transform: translate(1px, 0px);
  }
  20% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(0deg);
  }
  70% {
    transform: translate(-1px, 0px);
  }
  80% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
    transform: scale(1); /* Scales uniformly */  
  }
}

/* 2. Apply the animation to the element */
.image-skew {
  /* Set transform-origin if needed to control skew pivot */
  transform-origin: center center;

  /* 
     Duration: 30s 
     Iteration: infinite
     Timing function: ease-in-out for smoothness 
  */
  animation: skewAndUnskew 60s ease-in-out infinite;
  opacity: 1;
  transition: opacity 1s ease; /* smooth fade over 1 second */
}

/* Faded-out state: partial or fully hidden */
.image-skew.faded {
  opacity: 0.3; /* or 0 if you want fully invisible */
}