{% extends "layout.html" %}
{% block title %}
ALLmyALTS - Alts
{% endblock %}
{% block content %}
<section class="loader-content flex">
    <div id="loader">    
        <div class="loadingio-spinner-pulse-o89txhcmc6l">
            <div class="ldio-7e77dstxs7e">
                <div class="rounded"></div>
                <div class="rounded"></div>
                <div class="rounded"></div>
            </div>
        </div>
        <div class="timer">Loading: <span class="load-timer"></span></div>
        <div class="status-updates"></div>
    </div>
</section>
<section class="main-content">
    <div id="controls" class="flex">
        <div class="view-toggle">
            <!-- Start with the card view by default, so the button shows the table icon -->
            <button id="toggle-view"><i class="fa-solid fa-list-ul"></i></button>
        </div>
    </div>
<div id="alts"></div>
</section>    
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='alts.js')}}"></script>
{% endblock scripts %}