{% extends "layout.html" %}
{% block title %}
ALLmyALTS - Alts
{% endblock %}
{% block content %}
<section class="loader-content flex">
    <div id="loader">    
        <div class="loadingio-spinner-pulse-o89txhcmc6l">
            <div class="ldio-7e77dstxs7e">
                <div class="rounded"></div>
                <div class="rounded"></div>
                <div class="rounded"></div>
            </div>
        </div>
        <div class="timer">Loading: <span class="load-timer"></span></div>
        <div class="status-updates"></div>
    </div>
</section>
<section class="main-content">
    <div id="filter">
        <!-- Sorting controls -->
        <label for="sort-selector">Sort by:</label>
        <select id="sort-selector">
            <option value="level">Level</option>
            <option value="name">Name</option>
            <option value="class">Class</option>
            <option value="average_item_level">Item Level</option>
            <option value="gold">Gold</option>
        </select>

        <label for="sort-direction">Direction:</label>
        <select id="sort-direction">
            <option value="desc">Descending</option>
            <option value="asc">Ascending</option>
        </select>
    </div>
    <div id="alts"></div>
</section>    
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='alts.js')}}"></script>
{% endblock scripts %}