{% extends "layout.html" %}
{% block title %}
ALLmyALTS - Reputations
{% endblock %}
{% block content %}
<section class="loader-content flex">
    <div id="loader">    
        <div class="loadingio-spinner-pulse-o89txhcmc6l">
            <div class="ldio-7e77dstxs7e">
                <div class="rounded"></div>
                <div class="rounded"></div>
                <div class="rounded"></div>
            </div>
        </div>
        <div class="timer">Loading: <span class="load-timer"></span></div>
        <div class="status-updates"></div>
    </div>
</section>
<section class="main-content">
    <div id="controls" class="flex">
        <div id="filter">
            <label for="rep-filter">Expansion:</label>
            <select id="expansionSelect">
                <!-- Options will be populated here -->
            </select>
            <label for="filterInput">Filter: </label><input type="text" id="filterInput" placeholder="Enter a term to filter the factions on"><button type="reset" title="Reset filter"><i class="fa-solid fa-ban fa-lg reset-filter"></i></button>
        </div>
    </div>
    <div id="reps"></div>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='reps.js')}}"></script>
{% endblock scripts %}